* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  background-color: gray;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 7rem;
}
.menu {
  border: 1px solid white;
  color: white;
  height: 4rem;
 align-items: center;
 justify-content: center;
}

.main {
  font-size: 10rem;
}
.article {
  background-color: lightgray;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 181px;
}
.article-title {
  background-color: gray;
  display: flex;
  height: 3rem;
  justify-content: space-around;
}
.footer {
  background-color: black;
  justify-content: flex-end;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 7rem;
}
.footer-item {
  color: white;
  border: 1px solid white;
  width: 30%;
}

